# Plain Python

In [36]:
# Range
sample_range = range(1, 6)

print("Simple for-loop: ", [ i for i in sample_range] )                      
print("DOUBLED Values: ",  [ i*2 for i in sample_range] ) 
print("EVEN & DOUBLED: ",  [ i*2 for i in sample_range if i % 2 == 0] )

Simple for-loop:  [1, 2, 3, 4, 5]
DOUBLED Values:  [2, 4, 6, 8, 10]
EVEN & DOUBLED:  [4, 8]

In [135]:
# Sum
print("Boolean =", sum([True, False, False, True]))
print("Numbers =", sum([1, 2, 3, 5]))

Boolean = 2
Numbers = 11

# Plain Python: Functional Approach

## Map(aFunction, aSequence)

In [59]:
items = [1,2,3,4,5]
squared = []

### Old approach

In [60]:
for i in items:
    squared.append(i**2)

### Map with Function

In [58]:
def sqr(x): return x ** 2
list(map(sqr, items))

[1, 4, 9, 16, 25]

### Map with Lambda

In [56]:
list( map(lambda x: x**2, items) ) # returns list of squared objects

[1, 4, 9, 16, 25]

### List of Functions (as sequence)

In [119]:
def square(x): return (x**2)
def cube(x): return (x**3)

funcs = [square, cube]

for r in range(5):
    print( list(map( lambda x: x(r), funcs)) )

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

## Filter(aFunction, aSequence)

## Reduce(aFunction, aSequence)

## Lambda

## List Comprehension

# Numpy

In [15]:
# Numpy
import numpy as np

# Just an array
np_sample_array = np.array([1,2,3,6])

In [16]:
# ADDITION
np.array([1, 2, 3]) + np.array([5, 6, 7])

array([ 6,  8, 10])

In [17]:
# MEAN, AVERAGE
# 1+2+3+6  => 12  
# 12/4     => 3
print( np.mean([1, 2, 3, 6]) ) 
print( np.average([1, 2, 3, 6]) )

3.0
3.0

In [18]:
# MEDIAN - it's just the middle number
#### EVEN: 2+3 => 5/2 => 2.5
#### ODD: 2
print("EVEN: ", np.median([1, 2, 3, 6]) )  
print("ODD:  ", np.median([1, 2, 3]) )

EVEN:  2.5
ODD:   2.0

In [19]:
print("ONLY First element is TRUE:  ", np_sample_array == 1)
print("ONLY Second element is TRUE: ", np_sample_array == 2) 
print("ONLY elements bigger than 2: ", np_sample_array > 2) 
print("ONLY elements that are EVEN:  ", np_sample_array % 2 == 0)

ONLY First element is TRUE:   [ True False False False]
ONLY Second element is TRUE:  [False  True False False]
ONLY elements bigger than 2:  [False False  True  True]
ONLY elements that are EVEN:   [False  True False  True]

# Pandas

In [28]:
import pandas as pd

np.random.seed(2) 
rows = 15

df = pd.DataFrame({
    'height': np.random.randint(140, 200, rows),
    'weight': np.random.randint(50, 80, rows),
    'gender': np.random.randint(0,2, rows)
})

df["additional_column"] = "with description"

In [29]:
df['ratio'] = df['height'] / df['weight']
df.head()

   gender  height  weight additional_column     ratio
0       0     180      65  with description  2.769231
1       1     155      76  with description  2.039474
2       0     185      70  with description  2.642857
3       0     148      78  with description  1.897436
4       1     162      70  with description  2.314286

# Info
`[ [ MATRIX ] ]` <br>
`[ VECTOR ]`<br>
- `[1, 2, 3]` => Vector
- `[[1], [2], [3]]` => Vector of Vectors => Matrix => one features for each
- `[[1, 10], [2, 20], [3, 30]]` => Vector of Vectors => Matrix => two features for each

In [33]:
X = df[ ['gender'] ].values # Matrix
y = df['gender'].values     # Vector