# Plain Python

In [185]:
# Range - it's function, even more precisely it's generator 
sample_range = range(1, 6)

print("Simple for-loop: ", [ i for i in sample_range] )                      
print("DOUBLED Values: ",  [ i*2 for i in sample_range] ) 
print("EVEN & DOUBLED: ",  [ i*2 for i in sample_range if i % 2 == 0] )

Simple for-loop:  [1, 2, 3, 4, 5]
DOUBLED Values:  [2, 4, 6, 8, 10]
EVEN & DOUBLED:  [4, 8]

In [135]:
# Sum
print("Boolean =", sum([True, False, False, True]))
print("Numbers =", sum([1, 2, 3, 5]))

Boolean = 2
Numbers = 11

# Useful utils

In [194]:
%time # measure time

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 7.87 µs

# Plain Python: Functional Approach

## Map(aFunction, aSequence)
Map is built-in so it has a bit better performence than coded `for-loop`

In [141]:
items = [1,2,3,4,5]
squared = []

### Old approach

In [137]:
for i in items:
    squared.append(i**2)

### Map with Function

In [138]:
def sqr(x): return x ** 2
list(map(sqr, items))

[1, 4, 9, 16, 25]

### Map with Lambda

In [139]:
list( map(lambda x: x**2, items) ) # returns list of squared objects

[1, 4, 9, 16, 25]

### List of Functions (as sequence)

In [157]:
def square(x): return (x**2)
def cube(x): return (x**3)

funcs = [square, cube]

for r in range(5):
    print( list(map( lambda x: x(r), funcs)) )

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

## Filter(aFunction, aSequence)

## Reduce(aFunction, aSequence)

## Lambda

## List Comprehension

In [6]:
print( [x*x for x in [1,2,3,4,5]] )

[1, 4, 9, 16, 25]

# Numpy
Library that operate on VECTORS. It means that when you do something you always operate on VECTOR not a SINGLE VALUE.

In [11]:
import numpy as np

In [14]:
# Just an array
np_sample_array = np.array( [1,2,3,6] )

In [16]:
# ADDITION ( Vector + Vector )
np.array([1, 2, 3]) + np.array([5, 6, 7])

array([ 6,  8, 10])

In [17]:
# MEAN, AVERAGE
# 1+2+3+6  => 12  
# 12/4     => 3
print( np.mean([1, 2, 3, 6]) ) 
print( np.average([1, 2, 3, 6]) )

3.0
3.0

In [18]:
# MEDIAN - it's just the middle number
#### EVEN: 2+3 => 5/2 => 2.5
#### ODD: 2
print("EVEN: ", np.median([1, 2, 3, 6]) )  
print("ODD:  ", np.median([1, 2, 3]) )

EVEN:  2.5
ODD:   2.0

In [23]:
# Filters 
print("ONLY First element is TRUE:   ", np_sample_array == 1)
print("ONLY Second element is TRUE:  ", np_sample_array == 2) 
print("ONLY elements bigger than 2:  ", np_sample_array > 2) 
print("ONLY elements that are EVEN:  ", np_sample_array % 2 == 0)

# Practical Example of Filter:
arr = np.array(  [1,22,3,12,5,6,43,8,654] ) 
arr[ arr > 5 ]

ONLY First element is TRUE:    [ True False False False]
ONLY Second element is TRUE:   [False  True False False]
ONLY elements bigger than 2:   [False False  True  True]
ONLY elements that are EVEN:   [False  True False  True]

array([ 22,  12,   6,  43,   8, 654])

# Pandas
Uses `numpy` behind the scences. <br>
`[ [ MATRIX ] ]` - in other words it's `DataFrame`. Obviously df it's more complex than Matrix<br>
`[ VECTOR ]` - in other words it's `Series`<br>
- `[1, 2, 3]` => Vector
- `[[1], [2], [3]]` => Vector of Vectors => Matrix => one features for each
- `[[1, 10], [2, 20], [3, 30]]` => Vector of Vectors => Matrix => two features for each

In [43]:
import pandas as pd

np.random.seed(2) 
rows = 15

df = pd.DataFrame({
    'height': np.random.randint(140, 200, rows),
    'weight': np.random.randint(50, 80, rows),
    'gender': np.random.randint(0,2, rows)
})

In [44]:
X = df[ ['gender'] ].values # X - [ [ Matrix ] ]
y = df['gender'].values     # y - [ Vector ]

In [45]:
df['ratio'] = df['height'] / df['weight'] # We operate here on VECTORS not on SINGLE ELEMENTS
df.head(1)

   gender  height  weight     ratio
0       0     180      65  2.769231

In [46]:
# Filter - similar like in numpy
df[ df.ratio > 3.15 ]

   gender  height  weight     ratio
5       1     183      55  3.327273
8       0     180      56  3.214286

In [51]:
# Deleting - non error one, cuz of if
if 'ratio' in df: del df['ratio']