# Plain Python

In [130]:
# Range
sample_range = range(1, 6)

print("Simple for-loop: ", [ i for i in sample_range] )                      
print("DOUBLED Values: ", [ i * 2 for i in sample_range] ) 
print("EVEN & DOUBLED: ", [ i * 2 for i in sample_range if i % 2 == 0] )

Simple for-loop:  [1, 2, 3, 4, 5]
DOUBLED Values:  [2, 4, 6, 8, 10]
EVEN & DOUBLED:  [4, 8]

# Numpy

In [131]:
# Numpy
import numpy as np

# Just an array
np_sample_array = np.array([1,2,3,6])

In [132]:
# ADDITION
np.array([1, 2, 3]) + np.array([5, 6, 7])

array([ 6,  8, 10])

In [133]:
# MEAN, AVERAGE
# 1+2+3+6  => 12  
# 12/4     => 3
print( np.mean([1, 2, 3, 6]) ) 
print( np.average([1, 2, 3, 6]) )

3.0
3.0

In [134]:
# MEDIAN - it's just the middle number
#### EVEN: 2+3 => 5/2 => 2.5
#### ODD: 2
print("EVEN: ", np.median([1, 2, 3, 6]) )  
print("ODD:  ", np.median([1, 2, 3]) )

EVEN:  2.5
ODD:   2.0

In [135]:
print("ONLY First element is TRUE:  ", np_sample_array == 1)
print("ONLY Second element is TRUE: ", np_sample_array == 2) 
print("ONLY elements bigger than 2: ", np_sample_array > 2) 
print("ONLY elements that are EVEN:  ", np_sample_array % 2 == 0)

ONLY First element is TRUE:   [ True False False False]
ONLY Second element is TRUE:  [False  True False False]
ONLY elements bigger than 2:  [False False  True  True]
ONLY elements that are EVEN:   [False  True False  True]

# Pandas

In [136]:
import pandas as pd

np.random.seed(2) 
rows = 15

df = pd.DataFrame({
    'height': np.random.randint(140, 200, rows),
    'weight': np.random.randint(50, 80, rows),
})

df["additional_column"] = "with description"

In [137]:
df['ratio'] = df['height'] / df['weight']
df.head()

   height  weight additional_column     ratio
0     180      65  with description  2.769231
1     155      76  with description  2.039474
2     185      70  with description  2.642857
3     148      78  with description  1.897436
4     162      70  with description  2.314286

# Info

In [ ]:
X = df[ ['target'] ].values